.bubble 
{
position: relative;
width: 250px;
height: 120px;
padding: 0px;
background: #3BB9FF;
border-radius: 10px;
margin-left: 80px;
border:none !important;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 36px 15px 0;
border-color: transparent #3BB9FF;
display: block;
width: 0;
z-index: 1;
left: -36px;
top: 45px;
}
